<div class="row">
  <div class="span3">
    <h1>Week <%= @week.season_week %></h1>
  </div>
  <div class="span9 pull-right">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <% @weeks.each do |w| %>
          <% if current_user.has_role? :admin %>
            <% if w.season_week == @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-primary btn-mini' %>
            <% elsif w.season_week == @week.season_week %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-info btn-mini' %>
            <% elsif w.season_week == @pick_week.season_week %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-danger btn-mini' %>
            <% elsif w.season_week > @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-inverse btn-mini' %>
            <% elsif w.season_week < @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-mini' %>
            <% end %>
          <% else %>
            <% if w.season_week == @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-primary btn-mini' %>
            <% elsif w.season_week == @week.season_week %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-info btn-mini' %>
            <% elsif w.season_week == @pick_week.season_week %>
              <%= link_to w.season_week, "/week/#{@week.season_week}\#", :class => 'btn btn-danger disabled btn-mini' %>
            <% elsif w.season_week > @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{@week.season_week}\#", :class => 'btn disabled btn-mini' %>
            <% elsif w.season_week < @pick_week.season_week - 1 %>
              <%= link_to w.season_week, "/week/#{w.season_week}", :class => 'btn btn-mini' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @week == @pick_week %>
  <div class="row"><div class="span12"><h2>Admin message: Picks are still live!</h2></div></div>
<% end %>
<br />
<% @divs.each do |d| %>
  <h3><%= d.name %> Division</h3>
  <br />
  <section id="weeksummary">
    <table class="table table-condensed" id="weeksummary">
      <colgroup>
        <col class="hidden-phone" />
        <% d.users.each do |u| %>
          <col />
        <% end %>
        <col class="hidden-phone" />
      </colgroup>
      <thead>
        <tr>
          <th>Matchup</th>
          <% d.users.each do |u| %>
            <th><%= u.short_name %></th>
          <% end %>
          <th><div class="tc">Score</div></th>
        </tr>
      </thead>
      <tbody>
        <% @week_games_picked.each do |g| %>
              <tr>
                <td><div class='matchup'><%= link_to g.matchup, 
                "http://scores.espn.go.com/ncf/gamecast?gameId=#{g.espn_game_id}", target: "_blank", title: "Game_id: #{g.id}" %></div></td>
                <% d.users.each do |u| %>
                  <td>
                    <% if !@disp_picks[u.id].nil? %>
                      <% if g.final && @disp_picks[u.id][g.id] == g.winner.name %>
                        <%= "<span class=\"label label-success\">".html_safe %><%= @disp_picks[u.id][g.id] %></span>
                      <% elsif g.final %>
                        <%= "<span class=\"label label-important\">".html_safe %><%= @disp_picks[u.id][g.id] %></span>
                      <% elsif !g.winning.nil? && @disp_picks[u.id][g.id] == g.winning.name %>
                        <div class="weekpick text-success"><%= @disp_picks[u.id][g.id] %></div>
                      <% elsif !g.winning.nil? %>
                        <div class="weekpick text-error"><%= @disp_picks[u.id][g.id] %></div>
                      <% elsif g.score.nil? %>
                        <div class="weekpick muted"><%= @disp_picks[u.id][g.id] %></div>
                      <% else %>
                        <div class="weekpick"><%= @disp_picks[u.id][g.id] %></div>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
                <% if !g.score.nil? %>
                  <td>
                    <div class="tc">
                      <% if !g.final %>
                        <span class="label label-warning"><%= g.score.display %></span><br />
                         <span class="label label-warning"><%= g.score.status %></span>
                      <% else %>
                        <span class="label label-default"><%= g.score.display %></span>
                      <% end %>
                    </div>
                  </td>         
                <% else %>
                        <td><div class="tc font10"><%= g.start_time.strftime('%a %l:%M') %></div></td>
                <% end %>
              </tr>
              <% if g.points_req %>
              <tr>
                <td><strong>Points Pick<strong></td>
                  <% d.users.each do |u| %>
                    <td>
                      <%= @disp_points[u.id][0] unless @disp_points[u.id].nil? %>
                    </td>
                  <% end %>
                  <td></td>
              </tr>
              <tr>
                <td><strong>Total<strong></td>
                 <% d.users.each do |u| %>
                    <td>
                      <%= @disp_points[u.id][1] unless @disp_points[u.id].nil? %>
                    </td>
                  <% end %>
                  <td></td>
              </tr>

              <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>
