<%= @greeting %>, your picks have been submitted and are as follows:
<% @picks.each do |p| %>
<%= p.winner.name.html_safe %>
<% if p.game.points_req %>
Score: <%= p.points_display %>
<% end %>
<% end %>

Good Luck!