
<br />
<div class="row tc"><h1>Welcome to the 2012 Season of the Fumble Club</h1><br /><div><%= image_tag 'kerry.png', :size => "300x383" %></div></div>
<br /><br />

<% if user_signed_in? && current_user.has_role?(:admin) %>
	<div span="span1">
	<h4>Admin Todo</h4>
	<li>Weekly Pick Summary (Divisions, view only current week - 1 until pick deadline, highlight weekly winners with ties, highlight potential girly men and then add recognition when earned, mute unanimous picks)</li>
	<li>Live scoring (first ESPN parse, then RE API)</li>
	<li>Standings page (Home index, Overall standings, Money winnings, awards, and additional breakdowns like SOCON win %, maybe highlight best picks by odds for D1 and D2 when unanimously against)</li>
	<li>Finish automated emails when picks are submitted, picks official, and weekly results</li>
	<li>Autodetect Time Zones</li>
	<li>Add closing odds to DB -- FCS: http://www.propbet.com/livelines/livelines.aspx</li>
	<br />
	<h6>Done</h6>
	<li>Current Week Picks, add admin lock, and remove edit button at pick deadline</li>
	<li>SignUp, email confirmation</li>
	<li>Beginning administrator interface</li>
	</div>
<% end %>