<h1>Official Results</h1>
<h4>Through Week <%= @good_through %></h4>
<h4 class="muted">Click header to sort</h4>
<table class="table table-condensed table-striped" id="results">
  <thead>
    <tr>
      <th>Division</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Points</th>
      <th>Earnings</th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |div,name,wins,losses,points,earnings| %>
      <tr>
        <td><%= div %></td>
        <td><%= name %></td>
        <td><%= wins %></td>
        <td><%= losses %></td>
        <td><%= points %></td>
        <td><%= '%.2f' % (earnings/100.0) if !earnings.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

