<h1>Week <%= @week.season_week %></h1>

<% if @deadline - 1.hour > Time.now %>
  <h2><%= "Picks due: #{(@deadline - 1.hour).strftime('%a, %l%p %Z')} or about #{time_ago_in_words(@deadline - 1.hour)} from now" %></h2>
  <span><%= link_to 'Edit', new_pick_path, class: "btn btn-small btn-primary pull-right" %></span>
<% elsif @deadline > Time.now %>
  <h2><%= "Picks due: #{(@deadline - 1.hour).strftime('%a, %l%p %Z')} or about #{time_ago_in_words(@deadline - 1.hour)} ago" %></h2>
  <span><%= link_to 'Edit', new_pick_path, class: "btn btn-small btn-primary pull-right" %></span>
<% else %>
  <h2>Picks Official</h2>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Date and Time</th>
      <th>Away Team</th>
      <th>Home Team</th>
    </tr>
  </thead>
  <tbody>
    <% @picks.each do |pick| %>
      <tr>
        <td><%= link_to "#{pick.game.start_time.strftime("%a, %b %d %I:%M %p")} #{pick.game.start_time.zone}", 
                "http://scores.espn.go.com/ncf/gamecast?gameId=#{pick.game.espn_game_id}", target: "_blank" %></td>
        <td>
          <% if pick.home_win_pick %>
            <%= "#{pick.game.away_team.name}</td><td><strong>#{pick.game.home_team.name}</strong>".html_safe %>
          <% else %>
            <%= "<strong>#{pick.game.away_team.name}</strong></td><td>#{pick.game.home_team.name}".html_safe %>
          <% end %>
        </td>
      </tr>
      <% if pick.game.points_req %>
        <tr>
          <td>Points Pick</td>
          <td><%= pick.away_score_pick %></td>
          <td><%= pick.home_score_pick %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


