<% provide(:title, "Make your week #{@week.season_week} selections") %>
<h1><%="Make your week #{@week.season_week} selections"%></h1>
<% if @deadline - 1.hour > Time.now %>
  <h2><%= "Picks due: #{(@deadline - 1.hour).strftime('%a, %l%p %Z')} or about #{time_ago_in_words(@deadline - 1.hour)} from now" %></h2>
<% else %>
  <h2><%= "Picks due: #{(@deadline - 1.hour).strftime('%a, %l%p %Z')} or about #{time_ago_in_words(@deadline - 1.hour)} ago" %></h2>
<% end %>
<%= form_for(@all_picks) do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th>Date and Time</th>
        <th>Away Team</th>
        <th>Home Team</th>
      </tr>
    </thead>
    <tbody>
      <% @week_games.each do |g| %>
        <tr>
          <td><%= "<a href=\"http://scores.espn.go.com/ncf/gamecast?gameId=#{g.espn_game_id}\" target=\"_blank\">".html_safe %><%= g.start_time.strftime("%A, %b %d at %I:%M %p") %> <%= g.start_time.zone %></td>
          <div class ="controls">
            <% if !@prior_picks.where(game_id: g)[0].nil? && !@prior_picks.where(game_id: g)[0].home_win_pick%>
                <td><label class="radio"><%= radio_button_tag "all_picks[#{g.id}][winner_id]",g.away_team_id, true%><%= g.away_team.name %></label></td>
                <td><label class="radio"><%= radio_button_tag "all_picks[#{g.id}][winner_id]",g.home_team_id%><%= g.home_team.name %></label></td>
              <% else %>
                <td><label class="radio"><%= radio_button_tag "all_picks[#{g.id}][winner_id]",g.away_team_id %><%= g.away_team.name %></label></td>
                <td><label class="radio"><%= radio_button_tag "all_picks[#{g.id}][winner_id]",g.home_team_id, true%><%= g.home_team.name %></label></td>
            <% end %>
          </div>
        </tr>
        <% if g.points_req %>
          <tr>
            <td>Points Pick</td>
            <% if !@prior_picks.where(game_id: g)[0].nil? && !@prior_picks.where(game_id: g)[0].away_score_pick.nil?%>
              <td><%= number_field_tag "points_pick[#{g.id}][away_score_pick]", @prior_picks.where(game_id: g)[0].away_score_pick, :in => 0..99, :maxlength => 2, :required => true %></td>
              <td><%= number_field_tag "points_pick[#{g.id}][home_score_pick]", @prior_picks.where(game_id: g)[0].home_score_pick, :in => 0..99, :maxlength => 2, :required => true %></td>
            <% else %>
              <td><%= number_field_tag "points_pick[#{g.id}][away_score_pick]", nil, :in => 0..99, :maxlength => 2, :placeholder => g.away_team.name, :required => true %></td>
              <td><%= number_field_tag "points_pick[#{g.id}][home_score_pick]", nil, :in => 0..99, :maxlength => 2, :placeholder => g.home_team.name, :required => true %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.submit "Submit Picks", class: 'btn btn-primary' %>
<% end %>
