<h1>Live standings page is not official</h1>
<h2>Page in ßeta</h2>
<% @active_users.each do |d| %>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Week</th>
				<% d.each do |u| %>
					<th><%= User.find(u).short_name %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @result.keys.each do |w| %>
				<tr>
					<td><%= w %></td>
					<% @result[w].each do |user_result| %>
						<% d.each do |u| %>
							<% if u == user_result[0] %>
								<td><%= "#{user_result[1]}" %></td>
							<% end %>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			<tr>
				<td>Total</td>
				<% d.each do |u| %>
					<td><%= "#{@totals[u]}" %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
<% end %>