<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "Fumble Club 2012", root_path, :class => 'brand' %>

<div class="nav-collapse">
<ul class="nav">
  <% if user_signed_in? %>
    <li class="divider-vertical"></li>
    <li>
      <%= link_to "Make Picks", picks_path %>
    </li>
    <li class="divider-vertical"></li>
    <li><%= link_to "Weeks", week_index_path %></li>
    <li class="divider-vertical"></li>
    <li><%= link_to "Results", results_path %></li>
    <li class="divider-vertical"></li>
  <% end %>
</ul>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <li class="divider-vertical"></li>
      <li>
        <%= link_to 'Live', '/standingslive' %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to 'Admin', '/admin' %>
      </li>
    <% end %>
      <li class="divider-vertical"></li>
      <li class="visible-desktop">
        <% if !current_user.name.nil? %> 
          <%= link_to "#{current_user.name}", edit_user_registration_path %>
        <% else %>
          <%= link_to "#{current_user.email}", edit_user_registration_path %>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
      <div class="dropdown-menu navlogin" role="menu" aria-labelledby="dLabel">
        <%= render 'layouts/navlogin' %>
      </div>
    </li>
  <% end %>
</ul>
