<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, placeholder: 'user@domain.com', required: false, autofocus: true, label: false, input_html: { class: 'span2' } %>
    <%= f.input :password, placeholder: 'password', required: false, label: false, input_html: { class: 'span2' } %>
    <%= f.input :remember_me, as: :boolean, label: false, inline_label: 'Remember Me' if devise_mapping.rememberable? %>
  </div>
  <%= f.button :submit, 'Sign in', class: 'span2 btn-large btn-block btn-primary' %>
<% end %>